body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 70px solid green;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 200, 255);
}

.cloud-wrap {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  animation: cloud 25s linear infinite;
}
@keyframes cloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}
.cloud {
  position: relative;
  top: 30px;
  right: -400px;
  background-color: #fff;
  border-radius: 50%;
  width: 298px;
  height: 219px;
  animation: cloud2 1s linear infinite;
}
.cloud .left {
  position: absolute;
  top: 99px;
  left: -45px;
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.cloud .right {
  position: absolute;
  top: 53px;
  right: -54px;
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
@keyframes cloud2 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}