body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: conic-gradient(from 20deg, rgba(223, 168, 168, 1) 18deg, rgba(193, 199, 197, 1) 68deg, rgba(108, 199, 221, 1) 151deg, rgba(177, 151, 223, 1) 263deg, rgba(122, 197, 216, 1) 295deg, rgba(223, 168, 168, 1) 360deg);
}
/* アニメーションで実行されるプロパティと開始から終了までの期間をパーセントで指定 */
@keyframes rotate1 {
  0% {
    transform:rotate(0deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  12.5% {
    transform:rotate(90deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  25% {
    transform:rotate(180deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  37.5% {
    transform:rotate(270deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  50% {
    border-radius:100px;
    /* 50%時点でborder-radiusによって円形にすることで徐々に円形に変化するアニメーションを実現 */
    transform:rotate(360deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  62.5% {
    transform:rotate(450deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  75% {
    transform:rotate(540deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  87.5% {
    transform:rotate(630deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
  100% {
    transform:rotate(720deg);
    /* rotateZでZ軸(平面)の回転角度を指定 */
  }
}