body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 70px solid green;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 200, 255);
}

.cloud-wrap {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  animation: cloud 25s linear infinite;
}
@keyframes cloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}
.cloud {
  position: relative;
  top: 30px;
  right: -400px;
  background-color: #fff;
  border-radius: 50%;
  width: 298px;
  height: 219px;
  animation: cloud2 1s linear infinite;
}
.cloud .left {
  position: absolute;
  top: 99px;
  left: -45px;
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.cloud .right {
  position: absolute;
  top: 53px;
  right: -54px;
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
@keyframes cloud2 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

/********** キャラクター *************/
.chara-wrap{
  height: 100%;
  cursor: url(./niku_manga.png), auto;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center bottom;
}
@keyframes bounce {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態 */
  30%  { transform: scale(1.2, 0.8) translate(0%, 0%); } /* 地面に着地し、その変動で潰れだす */
  40%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動で一瞬元に戻る */
  50%  { transform: scale(0.8, 1.3) translate(0%, -10%); } /* 潰れた反動で縦に伸び、その勢いでバウンド開始 */
  60%  { transform: scale(1.0, 1.0) translate(0%, -20%); } /* 潰れた反動が終り、空中で元に戻る */
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態に戻る */
}

.chara-body{
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px);
  width: 430px;
  height: 450px;
  background-color: #00CA00;
  border-radius: 55% 55% 40% 40% / 55% 55% 40% 40%;
  border: solid 2px #333;
}

.chara-face{
  position: relative;
  top: 58px;
  left: 58px;
  background-color: #eceed5;
  width: 65%;
  height: 52%;
  border-radius: 55% 55% 40% 40% / 55% 55% 40% 40%;
}

.eye{
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: #333;
  width: 30px;
  height: 34px;
  border-radius: 100% / 100%;
}
.eye.right{
  left: auto;
  right: 90px;
}

.nose{
  position: absolute;
  top: 105px;
  left: 123px;
  background-color: #333;
  width: 5px;
  height: 6px;
  border-radius: 100% / 100%;
}
.nose.right{
  left: auto;
  right: 168px;
}

.mouth{
  position: absolute;
  bottom: 90px;
  left: 83px;
  width: 29%;
  height: 6%;
  border-radius: 0 0 82px 82px / 0 0 33px 33px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
}

.whiskers{
  position: absolute;
  left: -10px;
  top: 50%;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(-5deg);
  border-radius: 82px 82px 0 0 / 33px 33px 0 0;
}
.whiskers::before{
  position: absolute;
  content: "";
  bottom: 15px;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(0deg);
  border-radius: 82px 82px 0 0 / 33px 33px 0 0;
}
.whiskers::after{
  position: absolute;
  content: "";
  bottom: -15px;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(-25deg);
  border-radius: 82px 82px 0 0 / 33px 33px 0 0;
}
.whiskers.right{
  left: auto;
  right: -10px;
  transform: rotate(-5deg);
}
.whiskers.right::before{
  transform: rotate(0deg)
}
.whiskers.right::after{
  transform: rotate(25deg)
}

/********** 左耳 *************/
.ear-left-wrap{
  position: relative;
  top: calc(-50% + 2px);
  left: calc(-50% + 52px);
}

/********** 左耳（緑） *************/
.ear-left-outer, .ear-left-outer:before, .ear-left-outer:after { 
  width: 100px;
  height: 100px;
}
.ear-left-outer {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(0deg) skewY(30deg) scaleX(.866);
  z-index: -1;
  top: 5px;
} 
.ear-left-outer:before, .ear-left-outer:after {
  position: absolute;
  content: '';
}
.ear-left-outer:before {
  background-color: #00CA00;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-left-outer:after {
  background-color: #00CA00;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** 左耳（黄） *************/
.ear-left-inner, .ear-left-inner:before, .ear-left-inner:after { 
  width: 60px;
  height: 60px;
}
.ear-left-inner {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(0deg) skewY(30deg) scaleX(.866);
  z-index: -1;
  top: -62px;
  left: -3px;
} 
.ear-left-inner:before, .ear-left-inner:after {
  position: absolute;
  content: '';
}
.ear-left-inner:before {
  background-color: #ede121;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-left-inner:after {
  background-color: #ede121;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** 左耳（黒） *************/
.ear-left-border, .ear-left-border:before, .ear-left-border:after { 
  width: 106px;
  height: 118px;
}
.ear-left-border {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(0deg) skewY(30deg) scaleX(.866);
  z-index: -2;
  top: -166px;
  left: 0px;
} 
.ear-left-border:before, .ear-left-border:after {
  position: absolute;
  content: '';
}
.ear-left-border:before {
  background-color: #333;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-left-border:after {
  background-color: #333;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** 右耳 *************/
.ear-right-wrap{
  position: relative;
  top: calc(-169% + 2px);
  left: calc(16% + 52px);
  z-index: 2;
}

/********** 右耳（緑） *************/
.ear-right-outer, .ear-right-outer:before, .ear-right-outer:after { 
  width: 100px;
  height: 100px;
}
.ear-right-outer {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(60deg) skewY(30deg) scaleX(.866);
  z-index: -1;
  top: 5px;
} 
.ear-right-outer:before, .ear-right-outer:after {
  position: absolute;
  content: '';
}
.ear-right-outer:before {
  background-color: #00CA00;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-right-outer:after {
  background-color: #00CA00;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** 右耳（黄） *************/
.ear-right-inner, .ear-right-inner:before, .ear-right-inner:after { 
  width: 60px;
  height: 60px;
}
.ear-right-inner {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(60deg) skewY(30deg) scaleX(.866);
  z-index: -1;
  top: -62px;
  left: -3px;
} 
.ear-right-inner:before, .ear-right-inner:after {
  position: absolute;
  content: '';
}
.ear-right-inner:before {
  background-color: #ede121;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-right-inner:after {
  background-color: #ede121;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** 右耳（黒） *************/
.ear-right-border, .ear-right-border:before, .ear-right-border:after { 
  width: 94px;
  height: 102px;
}
.ear-right-border {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  border-radius: 20%;
  transform: translateY(50%) rotate(60deg) skewY(30deg) scaleX(.866);
  z-index: -2;
  top: -164px;
  left: 2px;
} 
.ear-right-border:before, .ear-right-border:after {
  position: absolute;
  content: '';
}
.ear-right-border:before {
  background-color: #333;
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}
.ear-right-border:after {
  background-color: #333;
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/********** しっぽ *************/
.tail {
  position: absolute;
  right: -78px;
  bottom: 48px;
  width: 163px;
  height: 55px;
  background-color: #00CA00;
  border: 3px solid #333;
  z-index: -1;
  border-radius: 36% 43% 41% 32% / 33% 33% 34% 53%;
  transform: rotate(-13deg);
}

/********** ダッシュ関連 *************/
.dash-area{
  position: absolute;
  bottom: 70px;
  left: calc(50% - 478px);
  height: 507px;
  width: 400px;
  background-color: black;
  cursor: url(./niku_manga.png), auto;
  z-index: 99;
}

.dash-area:hover{
  background-color: orange;
}
.dash-area:hover ~ .chara-wrap{
  animation-duration: 0.3s;
  animation-name: bounce-dash;
}
@keyframes bounce-dash {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態 */
  30%  { transform: scale(1.1, 0.9) translate(0%, 0%); } /* 地面に着地し、その変動で潰れだす */
  40%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動で一瞬元に戻る */
  50%  { transform: scale(0.9, 1.2) translate(0%, -5%); } /* 潰れた反動で縦に伸び、その勢いでバウンド開始 */
  60%  { transform: scale(1.0, 1.0) translate(0%, -10%); } /* 潰れた反動が終り、空中で元に戻る */
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態に戻る */
}

.dash-area:hover ~ .chara-wrap .mouth{
  border-bottom: 9px solid #000;
}